h1{
    text-align: center;
    text-decoration: underline;
}
img{
    margin-left: 20px;
}
body{
    border:5px solid black;
}
h2{
    text-align: left;
    margin: 3px;
    text-decoration: underline;
    font-style: italic;
}
label{
    font-size: 25px;
    font-weight: bold;
}
input{
    width:700px;
}
p{
    margin-left: 8px;
}
#addressId{
    height: 50px;
}
hr{
    border:none;
    height:5px;
    border-top:solid;
}